<section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Our Work</h2>
                    <hr class="small">
                    <div class="row">
                        <%@projects.each do |project|%>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                    <%= image_tag(project.avatar.url, alt: "Image1",class: "img-portfolio img-responsive" )%>
                                    <strong><%= project.name%></strong>
                            </div>

                        </div>
                        <%end%>
                    </div>
                    <!-- /.row (nested) -->
                    <%#= link_to "View More Items", "#",class: "btn btn-dark" %> 
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>