 <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Our Services</h2>
                    <hr class="small">
                    <div class="row">
                        <% @blogs.each do |blog|%>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                            
                                <h4>
                                    <strong><%= blog.title%></strong>
                                </h4>
                                <p><%= truncate(blog.body)%></p>
                                <%= link_to "Learn More",blog ,:class=>"btn btn-light"%>
                            </div>
                        </div>
                        <%end%>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>