<!-- <div class ="container">
<p class="pull-right">
<%# if admin_signed_in? %>
  Logged in as <strong><%= current_admin.email %></strong>.
  <%#= link_to 'Edit profile', edit_admin_registration_path, :class => 'btn btn-primary' %>
  <%#= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'btn btn-warning'%>
<%# end %><br>



<table class="table table-condensed">
	<tr class="success">
		<td>Id</td>
		<td>Title</td>
		<td>Body</td>
		<td>Action</td>
	</tr>
	<%# @blogs.each do |blog| %>
	<tr class="warning">
		<td><%= blog.id %></td>
		<td><%= blog.title%></td>
		<td><%= truncate(blog.body)%></td>
		<td><%#=link_to "Show",blog ,:class=>"btn btn-primary"%>
			<%#=link_to "Edit",edit_admin_blog_path(blog) ,:class=>"btn btn-primary"%> 
		 	<%#= link_to 'Destroy',  { action: :destroy, id: blog.id }, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-warning" %></td>
	</tr>
<%#end%>
</table>
<%#= link_to "Add Blogs", new_admin_blog_path,:class=>"btn btn-success"%>
</div>
 -->